@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    Layout = "_Layout";
}
<h2>Payment Failed</h2>
<p>Your payment was not successful or was cancelled. Please try again or contact support.</p>
<a href="/">Return to home</a>
