@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    Layout = "_Layout";
}
<h2>Payment Successful</h2>
<p>Your payment was successful. You can now access the course.</p>
<a href="/">Return to home</a>
